on:
  - push
  - create

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: check out repo
        uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install required packages
        run: sudo bash ./actions-support/dist-build/prepare.sh
      - name: Install python packages
        run: pip3 install--ignore-installed tqdm rich
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Run build
        run: python3 ./dbtbuilder.py
      - name: Login to GHCR
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        if: startsWith(github.ref, 'refs/tags/')
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Set up environment for Docker build
        id: dbt_version
        run: |
          mkdir -p actions-support/ci-image/dist
          cp dist/dbt-toolchain-*-linux*.tar.gz actions-support/ci-image/dist
          echo "version=$(cat VERSION)" >> "$GITHUB_OUTPUT"
      - name: Build and push Docker images to GHCR
        uses: docker/build-push-action@v4
        with:
          context: ./actions-support/ci-image/
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DBT_VERSION=${{ steps.dbt_version.outputs.version }}
            DELUGE_SRC_BRANCH=community
      - name: Push release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: "dist/*"
          body_path: "RELEASE.md"
